
import("grid")

importFrom("dvi",
           "readDVI")

export("TeXengine", "registerEngine",

       "LaTeXpackage", "registerPackage",
       
       "grid.dvi", "dviGrob")

S3method("dviGrob", "DVI")

S3method("makeContent", "DVIgrob")
