
importFrom("grDevices",
           "glyphAnchor",
           "glyphFont",
           "glyphFontList",
           "glyphHeight",
           "glyphInfo",
           "glyphWidth")

import("grid")

import("hexView")

importFrom("dvi",
           "readDVI")

export("TeXengine", "registerEngine",

       "TeXstate", "TeXget", "TeXmget", "TeXset",
       
       "FontLibrary",
       
       "LaTeXpackage", "registerPackage",
       
       "grid.dvi", "dviGrob")

S3method("dviGrob", "DVI")

S3method("makeContent", "DVIgrob")

S3method("objToGrob", "LaTeXglyphObj")
S3method("objToGrob", "LaTeXruleObj")
